.card-list {
  text-align: center;
  font-size: 0;

  &__title {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 30px 15px 0;
    margin-bottom: 23px;
  }

  .card {
    margin: 0 40px 40px;

    @include respond-to('480px') {
      margin: 0 15px 40px;
    }
  }
}
