$black: black;
$white: white;

$color-1: #1698d9;
$color-2: #e62e7a;
$color-3: #ffff66;

$gray: #b3b3b3;

$text-color: #666;

$text-size-sm: 13px;
$text-size-lg: 16px;

$head-size-1: 48px;
$head-size-2: 36px;
$head-size-3: 24px;

$link-color: $color-1;
