<!DOCTYPE html>
html(lang="en")
  head 
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0 user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Fun Food
    link(href="https://fonts.googleapis.com/css?family=Exo+2:100&amp;subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet", href="/static/css/main.css")
  body

    block content
    
    script(src="/static/js/main.js")
  
